<script>
    $(document).ready(function () {
        if (isApprovedUser()) {
            window.location.href = "/hc/en-gb/";
        }
        else {
            datalayer = [{ 'interrupt' : 'true' }];
        }
    });

    document.title = "Sign in with a different email | Support with delivering T Levels"
</script>





<div class="govuk-width-container">
    <div class="tl-breadcrumbs" id="tl-breadcrumbs--help">
        {{breadcrumbs}}
    </div>
</div>

<!-- Main content -->
<main id="main-content" role="main">
    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{article.title}}</h1>

                <div class="tl-article--content">{{article.body}}</div>

                {{#link 'sign_out' class="govuk-button"}}Sign out and try again{{/link}}


            </div>
        </div>



    </div>

</main>
