/*Workshops and webinars CSS*/

.tl-event--list {
    li {
        display: none;

        p {
            margin: 10px 0 15px 0;
        }
    }

    &[data-course-information="true"] {
        li[data-event--labels*="Course information"] {
            display: block;
        }
    }

    &[data-industry-placements~="true"] {
        li[data-event--labels*="Industry placements"] {
            display: block;
        }
    }

    &[data-networking~="true"] {
        li[data-event--labels*="Networking"] {
            display: block;
        }
    }

    &[data-professional-development~="true"] {
        li[data-event--labels*="T Level professional development"] {
            display: block;
        }
    }
}


.tl-event--pagination {
    padding: 40px 0px;
    display: none;

    .pagination-next-text, .pagination-prev-text {
        &:after {
            content: " page";
        }
    }

    .pagination-next {
        float: right;
    }

    .pagination-first, .pagination-last {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;


        li {
            float: left;
            padding: 0 20px 0 0;
            @include govuk-font($size: 19, $weight: bold);

            a {
                @extend .govuk-link;
            }
        }
    }
}
