/*Workshops and webinars CSS*/

.tl-event--list {
    li {
        display: block;

        p {
            margin: 10px 0 15px 0;
        }
    }



    &[data-course-information="false"] {
        li[data-event--type*="Course information"] {
            display: none;
        }
    }

    &[data-industry-placements~="false"] {
        li[data-event--type*="Industry placements"] {
            display: none;
        }
    }

    &[data-networking~="false"] {
        li[data-event--type*="Networking"] {
            display: none;
        }
    }

    &[data-professional-development~="false"] {
        li[data-event--type*="T Level professional development"] {
            display: none;
        }
    }

    &[data-location-online~="false"] {
        li[data-event--location*="Online"] {
            display: none;
        }
    }

    &[data-location-inperson~="false"] {
        li[data-event--location*="In person"] {
            display: none;
        }
    }
}

.tl-event--pagination {
    padding: 40px 0px;
    display: none;

    .pagination-next-text, .pagination-prev-text {
        &:after {
            content: " page";
        }
    }

    .pagination-next {
        float: right;
    }

    .pagination-first, .pagination-last {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;


        li {
            float: left;
            padding: 0 20px 0 0;
            @include govuk-font($size: 19, $weight: bold);

            a {
                @extend .govuk-link;
            }
        }
    }
}
