.tl-nowrap {
    white-space: nowrap;
}

.tl-hide {
    display: none;
}


.tl-hidden {
    display: none !important;
}

.js-enabled {
    .tl-js-hidden {
        display: none;
    }

    .tl-js-visible {
        display: inline-block;
    }
}

.tl-js-hidden {
    display: inline-block;
}

.tl-js-visible {
    display: none;
}


.tl-inline {
    display: inline;
}

.tl-inlineblock {
    display: inline-block;
}

.tl-block {
    display: block;
}

.tl-breakword {
    word-wrap:break-word;
}

.tl-text {
    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }
}

.tl-overflow--auto {
    overflow: auto;
}

.tl-push {
    &--right {
        float: right;
    }

    &--left {
        float: left;
    }
}

.tl-approved--visible, .tl-approved--hidden {
    display: none;
}


.tl-relative {
    position: relative;
}


.tl-ordering {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}





@for $i from 1 through 3 {

    .tl-order-m-#{$i} {
        -webkit-box-ordinal-group: unset;
        -moz-box-ordinal-group: unset;
        box-ordinal-group: unset;

        @include govuk-media-query ($until: tablet) {
            -webkit-box-ordinal-group: $i;
            -moz-box-ordinal-group: $i;
            box-ordinal-group: $i;
        }
    }
}

.tl-section-break--blue {
    border-bottom: 3px solid $govuk-link-colour;
}


.tl-row-fill {
    display: flex;
    align-items: stretch;

    @include govuk-media-query ($until: tablet) {
        display: block;
    }
}

.tl-row-fill--column {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    @include govuk-media-query ($until: tablet) {
        display: block;
    }
}



.tl-image--cover {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    object-position: right bottom;
    height: 100%;
    width: 100%;
}

.tl-heading--bar {
    border-bottom: 4px solid $govuk-text-colour;
    width: 100%;
    @include govuk-responsive-padding(2, "bottom");
}

.tl-flex{
    &--column {
    display: flex;
    flex-direction: column;
    }

    &--grow {
        flex-grow: 1;
    }
}

.tl-section-break {
    border-bottom: 2px solid $govuk-border-colour;
}