.tl-newsletter--list li {

    &:nth-child(n+5) {
    display: none;
    }

    &:last-child {
        display: list-item;
    }
}

.tl-newsletter--container {
    background-color: #f8f7f5;
    padding: 40px 0;
}
