.tl-phase-banner {
    overflow: auto;

    &--contet {
        float: left;
    }

    .govuk-tag {
        background-color: govuk-colour("pink");

        &:hover {
            background-color: darken(govuk-colour("pink"), 10%);
        }

        &:focus {
            background-color: $govuk-focus-colour;
            color: $govuk-focus-text-colour;
        }
    }

    &--home {
        border-bottom: none;
    }

    &--link {
        @extend .govuk-link;
        font-weight: bold;
    }

    .govuk-phase-banner__text {
        vertical-align: middle;
    }

    &--right {
        list-style: none;
        float: right;
        margin: 3px 0;
        padding: 0;

        li {
            float: left;
            margin-left: 10px;
        }
    }
}
